body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  position: relative;
}

h1 {
  text-align: center;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  animation: rotate 2s linear infinite;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: #eee;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 0;
  animation: animate 4s linear infinite;
  transition: all 100ms ease;
}

svg circle:nth-child(2) {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: #e38b29;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 0;
  animation: animate 4s linear infinite;
  transition: all 100ms ease;
}

button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #e38b29;
  border-radius: 5px;
  border: none;
  transition: all 300ms ease;
  cursor: pointer;
  margin-top: 2rem;
  margin-inline: 2rem;
}

button svg {
  margin-left: 0.2rem;
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
@keyframes animate {
  0% {
    stroke-dashoffset: 440;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 440;
  }
} */
